<form class="message-form" (ngSubmit)="onUserSendMessage()">
  <mat-form-field class="message-input-field">
      <mat-label>Message</mat-label>
      <input matInput #message maxlength="256" placeholder="Ask something..." [(ngModel)]="userMessage" [ngModelOptions]="{standalone: true}">
      <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field>
  <button type="submit" mat-stroked-button class="send-button">Send</button>
</form>