<mat-card class="card" style="height: 100%;"  >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>ChatGOMD</mat-card-title>
        <mat-card-subtitle>lets chat </mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <div class="mockup-phone border-primary">
        <div class="camera"></div>
        <div class="display">
          <div
            class="artboard bg-base-300 flex gap-8 p-4 flex-col jistify-end phone-1"
          >
          <app-chatbox></app-chatbox>
      
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
 

